*{
    font-family: 'Inconsolata', monospace;
} /* selector universal para el tipo/estilo de letra */

#navbarNavAltMarkup{
    justify-content: flex-end;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    margin-right: 3rem;
}

.logo-viajes-chile{
    height: 2em;
    width: 2em;
    margin-left: 3rem;
}

.navbar{
    position:absolute;
    top:0;
    z-index:1;
    background: transparent;
    width:100%;
}
#quienes-somos{
    background: black;
    width: 100%;
}

#quienes-somos i{
    color: white;
}

h4{
    text-align: center;
    font-weight: 400;
    color: whitesmoke;
}

hr{
    color: turquoise;
    opacity: 100;
}

p{
    color: white;
    padding: auto;
}

#sec-destacados{
    background: black;
    width: 100%;
}

.card{
    margin: 2rem;
}

.card-body{
    background: turquoise;
}

.parrafo-form{
    color: black;
    font-weight: 400;
    font-size: 2rem;
}